.f-card {
    background-color:white;
    height:400px;
    width:502px;
    border: 1px solid #d0d1d5;
     border-radius:3px;
    margin: auto;
    margin-bottom:10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .30); 
}

.content {
    clear:both;
    font-family: Helvetica, sans-serif;
    font-size:14px;
    line-height: 1.38;
}

.co-name > a {
    font-family: Helvetica;
    font-size:14px;
    font-weight: bold;
    line-height: 1.38;
    color: #365899;
    text-decoration:none;
    
    margin-bottom:2px;
}
  
.co-name > a:hover {
    text-decoration:underline;
}

.co-logo {
    float:left;
    margin-right:8px;
    
    width:40px;
    height:40px;
}
