.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 10px;

    box-shadow: 10px 5px 10px #dddcdc;
  }
  
  .header a {
    float: left;
    color: #0031b9;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  


  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  
  .header-right {
    float: right;
  }

  .like-button {
    background-color: rgba(196, 196, 196, 0.0);
    border-color: rgba(196, 196, 196, 0.0);
    width: 50px;
    height: 50px;
  }
  .letter {
    vertical-align: middle;
  }

  
.profile-content {
	width: 2.5rem;
	height: 2.5rem;
	background-color: tomato;
	border-radius: 50%;
	margin: 10px;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	justify-content: center;
}